#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config SHIELD_NRF2240EK
	def_bool $(shields_list_contains,nrf2240ek)

config SHIELD_NRF2240EK_NPM1300_INIT_PRIORITY
	int "Init priority of the nPM1300 on the nRF2240EK shield"
	default 91
	help
	  Sensor initialization priority.
